@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Nunito', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body,
html,
#app {
    margin: 0;
    height: 100%;
}

#app {
    padding: 10px;
}